<html>

  <head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
  </head>

  <body>
    <h1>io.div.is api</h1>

    <h3> Welcome!</h3>

    <a href="/users">Users</a>
    <a href="/login">Login</a>
    <a href="/signup">Signup</a>

    <h4>Session details</h4>
    <p> Session id: {{ session }}</p>
    <p> Expiry in (seconds): {{ expiry_in }}</p>
    <p> Is expired: {{ is_expired }}</p>

    <h4>Visitor details</h4>
    <p>Host: {{ host }}</p>
    <p>Remote: {{ remote }}</p>
    <p>Headers</p>
    <ul>
      {% for pair in headers %}
      <li>{{ pair.0 }}, {{ pair.1 }}</li>
      {% endfor %}
    </ul>


  </body>

</html>
